.articleTitle {
  color: white;
}

.articleText {
  color : white;
  flex: 1.5;
}

.articleDate {
  color : white;
}

.articleImage {
    display: inline;
    max-height: 50vh;
    max-width: 50vw;
}

.body ul{
    padding: 1.5em;
    text-align: justify;
    width: 100%;
}


.row {
    display: flex;
    margin: 2vh 0;
}

.col {
    flex: 1;
    margin: 0 5vw;
}