.form {
    padding: 0 5vw;
    flex: 1;
}

.form-group {
    text-align: left;
}

.info {
    flex: 2;
    padding: 0 10vw;
}

label {
    color: white;
}

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.innerInfo {
    display: flex;
}

.divImg {
    margin-right: 1vw;
}

.contactImg {
    max-width: 30vw;   
}

.divInfo {
    margin: auto;
}


@media screen and (max-width: 890px) {
    .innerInfo {
        display: block;
    }
    
    .contactImg {
        max-width: 60vw;   
    }
}