body {
    margin: inherit;
    background-color: #1E1F1F;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span {
    color: white;
}